* {
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.panel-content {
  background: #fcfcfc;
}

.navbar {
  font-size: 14px;
}
.navbar .dropdown-menu {
  font-size: 14px;
}
.navbar .dropdown-menu li a {
  margin-bottom: 5px;
}

.dropdown-toggle img {
  margin-right: 10px;
}
.dropdown-toggle i {
  margin-left: 8px;
}

.right-sidebar {
  border-left: 1px solid #eaeaea;
}

.tile {
  color: #FFF;
  display: block;
}
.tile .tile-body {
  padding: 12px 10px 12px 10px;
}
.tile .tile-body .tile-title {
  font-size: 13px;
  text-transform: uppercase;
  padding-top: 5px;
}
.tile .tile-body .tile-title i {
  margin-right: 8px;
  font-size: 20px;
}

.vertical-span {
  margin-bottom: 10px;
}

.tile-primary {
  background: #0090d9;
}
.tile-primary .tile-actions {
  float: right;
}
.tile-primary .tile-actions a {
  color: #006ea6;
}
.tile-primary .tile-actions a:hover {
  color: #FFF;
}

.tile-success {
  background: #2ecc71;
}
.tile-success .tile-actions {
  float: right;
}
.tile-success .tile-actions a {
  color: #25a25a;
}
.tile-success .tile-actions a:hover {
  color: #FFF;
}

.tile-funky {
  background: #9B59B6;
}
.tile-funky .tile-actions {
  float: right;
}
.tile-funky .tile-actions a {
  color: #804399;
}
.tile-funky .tile-actions a:hover {
  color: #FFF;
}

.tile-warning {
  background: #e67e22;
}
.tile-warning .tile-actions {
  float: right;
}
.tile-warning .tile-actions a {
  color: #bf6516;
}
.tile-warning .tile-actions a:hover {
  color: #FFF;
}

.tile-error {
  background: #e74c3c;
}
.tile-error .tile-actions {
  float: right;
}
.tile-error .tile-actions a {
  color: #d62c1a;
}
.tile-error .tile-actions a:hover {
  color: #FFF;
}

.search-form {
  margin-bottom: 0;
}
.search-form input[type="text"] {
  height: 35px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

.footer {
  color: #222;
  text-align: center;
}
.footer ul.inline li a {
  color: #222;
}

.calendar .calendar-header {
  text-align: center;
  background: #4d4d4d;
  color: #FFF;
  border-top: 3px solid #2b2b2b;
  padding-top: 15px;
  padding-bottom: 15px;
}
.calendar .calendar-header .month-name {
  font-weight: lighter;
  font-size: 26px;
}
.calendar .calendar-header .year {
  font-weight: lighter;
}
.calendar .calendar-body {
  background: #FFF;
  padding-top: 10px;
  padding-right: 8px;
  padding-left: 8px;
  max-height: 310px;
  overflow: scroll;
}
.calendar .calendar-body .upcoming-text {
  color: #666;
  text-align: center;
}
.calendar .event-item {
  display: block;
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 12px;
}
.calendar .event-item .date-wrapper {
  background: #e74c3c;
  color: #FFF;
  float: left;
  text-align: center;
  width: 15%;
}
.calendar .event-item .date-wrapper .day-number {
  margin-bottom: 0;
  background: #ea6153;
}
.calendar .event-item .event-description {
  float: left;
  width: 85%;
  padding-left: 5px;
}
.calendar .event-item .event-description .event-name {
  margin-bottom: 0px;
  font-size: 24px;
}
.calendar .event-item .event-description .schedule-separator {
  padding: 0 15px;
  display: inline-block;
}

.user-profile {
  border-bottom: 3px solid #e6e6e6;
  padding-bottom: 15px;
}
.user-profile .user-profile-header {
  overflow: hidden;
  max-height: 250px;
  position: relative;
}
.user-profile .user-profile-header .user-actions {
  position: absolute;
  top: 5px;
  right: 10px;
}
.user-profile .user-image {
  width: 100%;
  text-align: right;
  margin-top: -40px;
  position: relative;
  z-index: 3;
}
.user-profile .user-image .img-frame {
  background: #fff;
  border: none;
}
.user-profile .user-description {
  background: #f2f4f6;
  color: #8b91a0;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.user-profile .user-description .user-header {
  margin-bottom: 0;
}
.user-profile .user-description ul li {
  margin-bottom: 10px;
  font-size: 14px;
}

.breadcrumb {
  margin: 0;
  list-style: none;
  font-size: 14px;
  padding: 5px 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.breadcrumb li + li:before {
  content: "/\00a0";
  padding: 0 5px;
}
.breadcrumb li {
  display: inline-block;
}
.breadcrumb li.active {
  color: #999999;
}

.news-container {
  background: #FFF;
  color: #333;
  -webkit-box-shadow: 0px 0px 2px #cccccc;
  -moz-box-shadow: 0px 0px 2px #cccccc;
  box-shadow: 0px 0px 2px #cccccc;
  padding: 8px;
}
.news-container .header {
  font-size: 24px;
  margin-bottom: 0px;
  color: #666;
  font-weight: 300;
}
.news-container .news-date {
  color: #666;
  display: block;
  margin-bottom: 8px;
  font-size: 13px;
  font-weight: lighter;
}
.news-container .news-abstract {
  font-size: 12px;
}

.main-container {
  margin-bottom: 40px;
}

.white-bg {
  background: #fff;
}

@media (max-width: 979px) {
  .user-profile .user-image {
    text-align: left;
  }

  .search-form input[type="text"] {
    width: 100%;
  }
}
