/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
/**
 * Basic footer structural styling. 
 * 
 * Designed and built @kurenn  
 */

.footer {
  color: $footer-text-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin-top: 60px;
  text-align: center;

  ul.inline {
    li {
      a {
        color: #FFF;
        font-size: $footer-anchor-size;
      }
    }
  }

}
